body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border:10px solid black;
    margin: 2rem;
}

.button-container{
    display:flex;
    justify-content: center;
}
.red{
    background-color: rgb(181, 42, 42);
}
.green{
    background-color: rgb(52, 182, 52);
}

.yellow{
    background-color: rgb(222, 222, 70);
}

.purple{
    background-color: rgb(215, 37, 215);
}


.flash{
    background-color: white;
}

.userFlash{
    background-color: darkblue;
}